body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

h1 {
    font-family: sans-serif;
    margin: 20px auto;
    bottom: 30px;
    color: black;
    text-align: center;
    font-size: 30px;
    max-width: 600px;
    position: relative;
}

h1:before {
        content: "";
        display: block;
        height: 2px;
        background: #000;
        left: 0;
        top: 50%;
        position: absolute;
        width: 400%;
        margin-left: 140%;
}

h1:after {
        content: "";
        display: block;
        height: 2px;
        background: #000;
        right: 0;
        top: 50%;
        position: absolute;
        width: 400%;
        margin-right: 140%;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logged-in-main-container {
    width: 100%;
    height: calc(100% - 150px);
    top: 150px;
    left: 0;
    position: absolute;
}

.logged-in-main-container.create-listing-on {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 200px;
}

.centered-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 30px;
    box-shadow: 0px 0px 5px 0px #316d93;
}

.form-field-container-flex {
    width: 400px;
    height: 50px;
    display: flex;
    flex-direction: row;
}

.form-field-flex {
    width: 50%;
    height: 100%;
}

.form-field-flex-text-comfirmation
{
    margin-bottom: 25px;
    font-size: 20px;
}

.signup-form-input {
    position: relative;
    width: 80%;
}

.form-field-flex-text {
    width: 50%;
    height: 100%;
}

.form-field-flex label {
    font-weight: 500;
}

.login-container {
    width: 500px;
    height: 250px;
}

.signup-container {
    width: 500px;
    height: 350px;
}

.create-listing-container {
    width: 500px;
    height: 600px;
}

.delete-listing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0px 0px 5px 0px #316d93;
    width: 500px;
    height: 150px;
    margin-left: 500px;
    margin-top: 200px;
}

.edit-listing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0px 0px 5px 0px #316d93;
    width: 500px;
    height: 350px;
    margin-left: 500px;
    margin-top: 50px;
}

form button {
    padding: 10px;
    margin: 0;
    border: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 0px #316d93;
    width: 100%;
    transition: 100ms ease-in-out;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

form button:hover {
    background-color: white;
    transition: 100ms ease-in-out;
}