.filter-top-container {
    min-height: 150px;
    height: 150px;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    border-bottom: 1px solid black;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.filter-top-container.cities {
    height: 750px;
}

.filter-top-container label {
    font-size: 16px;
    margin: 10px;
}

.home {
    position: absolute;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-family: "montserrat";
    font-size: 22px;
    letter-spacing: 0px;
    border-radius: 20px;
    border-color: black;
    border-style: solid;
    background: white;
    top: 5px;
    right: 5px;
    height: 30px;
    width: 100px;
    transition: 0.4s ease;
}

.home:hover {
    box-shadow: 0px 0px 2px 2px black;
}
.logged-in-main-name {
    color: black;
    position: absolute;
    top: 7px;
    right: 125px;
    font-family: verdana;
    font-size: 20px;
}
.user-icon {
    width: 30px;
    position: relative;
    top: 10px;
    margin-right: 0px;
    border-radius: 40px;
    border-color: black;
    border-style: solid;
}
.logged-in-main-dropdown {
    position: absolute;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-family: "montserrat";
    font-size: 22px;
    letter-spacing: 0px;
    border-radius: 20px;
    border-color: black;
    border-style: solid;
    background: white;
    top: 17px;
    right: 5px;
    height: 30px;
    width: 100px;
    transition: 0.4s ease;
}
.logged-in-main-dropdown:hover {
    box-shadow: 0px 0px 2px 2px black;
}
.logged-in-main-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;
    right: 0px;
    top: 30px;
}
.logged-in-main-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.logged-in-main-dropdown-content a:hover {
    background-color: #f1f1f1
}

.logged-in-main-dropdown:hover .logged-in-main-dropdown-content {
    display: block;
    position: absolute;
    background-color: #f1f1f1;
}


.city-checkboxes {
    display: none;
    background-color: white;
    z-index: 100;
}

.city-checkboxes.visible {
    display: flex;
    width: 800px;
    height: 600px;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid black;
    z-index: 100;
}